
	.prev{    
		position: absolute;
	    right: 15px;
	    top: 15px;
	    font-size: 32px !important;
	}
	.temp {font-size: 32px;}

	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	body {
		background-color: #f0f1f3 !important;
		margin: 0px !important;
		margin-top: 40px !important;
		font: 13px/20px normal Roboto, Arial, sans-serif !important;
		color: #4F5155 !important;
	}

	
	.container {margin-bottom: 20px;
    background: white;
    border: 1px solid #ccc;
    padding: 25px;}